input {
    width: 100%;
    margin: 15px 0;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px; 
}
p{
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}
.button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    button{
        width: 50%;
        margin: 0 20px;
        height: 40px;
        border-radius: 5px;
    }
     
    button:nth-child(2) {
background: blue;
color: #FFF;
    }
}

.contact-form {
    text-align: center;
    padding: 20px;
}