<div class="contact-form">
  <p>Add contact Form</p> 
  <input type="text" placeholder="Name"  (input)="nameChangeHandler('name', $event.target.value)">
  <input type="text" placeholder="email"  (input)="nameChangeHandler('email', $event.target.value)">
  <input type="text" placeholder="Phone Number" (input)="nameChangeHandler('phone', $event.target.value)">

  <div class="button-container">
    <ion-button (click)="closeModal()">Close</ion-button>
    <ion-button (click)="onSubmit()">Save</ion-button>
  </div>
</div>
