#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.contact-details {
  background-color: #FFF;
  border: 1px solid #000;
  margin: 10px;
  padding: 0 10px;
}

ion-fab {
  padding: 25px;
}