<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contacts</ion-title>
    </ion-toolbar>
  </ion-header>


  <div class="contact-details" *ngFor="let contact of contactInformations ">
    <p>Name: {{contact.name}}</p>
    <p>Email: {{contact.email}}</p>
    <p>Mobile: {{contact.phone}}</p>
  </div>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openUserForm()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>




  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
